<!-- Side Navigation Bar -->
   <!-- App Name/Logo -->
  <div id="sidenav">
  	<div id="logo">
	  	<%= image_tag "checkmark.png" %>
  	</div>
    <% if logged_in? %>        
      <h1><%= link_to "Priorities Portal", current_user %></h3>
      <h1><%= link_to "Log Out", logout_path, method: "delete" %></h3>
    <% else %>
      <h1><%= link_to "Welcome to Priorities Portal!", root_path %></h3>
    <% end %>
  </div>